        #game-board {
            display: grid;
            grid-template-columns: repeat(10, 30px);
            gap: 0.1vh;
            border: 0.1vh solid black;
            width: 30vh;
        }
        .cell {
            width: 3vh;
            height: 30px;
            background-color: black;
        }
